@model ACWebApp.Models.Idea

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Idea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdeaTitle" class="control-label"></label>
                <input asp-for="IdeaTitle" class="form-control" />
                <span asp-validation-for="IdeaTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdeaDescription" class="control-label"></label>
                <input asp-for="IdeaDescription" class="form-control" />
                <span asp-validation-for="IdeaDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdeaPros" class="control-label"></label>
                <input asp-for="IdeaPros" class="form-control" />
                <span asp-validation-for="IdeaPros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdeaCons" class="control-label"></label>
                <input asp-for="IdeaCons" class="form-control" />
                <span asp-validation-for="IdeaCons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
