@{
    ViewData["Title"] = "About Me";
}

<div class="container-xxl my-5 py-5">
    <h1>@ViewData["Title"]</h1>
    <h5>As a dedicated and passionate Software Developer, I focus on creating innovative and efficient solutions to enhance the functionality and user experience of technology products.</h5>
    <h5>Over my fourteen-year tenure in various customer support and business development roles, I’ve honed my skills in decision-making, relationship building, and influence. These experiences have provided a strong foundation for my transition into software development, where I now apply my technical expertise to solve complex problems and deliver high-quality software.</h5>

</div>
