@{
    ViewData["Title"] = "Contact Details";
}

<div class="container-xxl my-5 py-5">
    <h1>@ViewData["Title"]</h1>
    <p class="lead">Feel free to reach out to me through any of the following platforms:</p>

    <div class="d-flex flex-column gap-3 mt-4">

        <!-- Email -->
        <a href="mailto:alex.chang013@gmail.com" class="text-decoration-none text-dark">
            <div class="d-flex align-items-center">
                <i class="fa-regular fa-envelope fa-2x me-3"></i>
                <span>alex.chang013@gmail.com</span>
            </div>
        </a>

        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/alexmungpangchang" target="_blank" class="text-decoration-none text-dark">
            <div class="d-flex align-items-center">
                <i class="fa-brands fa-linkedin fa-2x me-3"></i>
                <span>linkedin.com/in/alexmungpangchang</span>
            </div>
        </a>

        <!-- GitHub -->
        <a href="https://github.com/alexchang13" target="_blank" class="text-decoration-none text-dark">
            <div class="d-flex align-items-center">
                <i class="fa-brands fa-github fa-2x me-3"></i>
                <span>github.com/alexchang13</span>
            </div>
        </a>

    </div>
</div>
