@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-1">Hi, Welcome</h1>
    <br /><br />
    <h5>I'm Alex Chang,</h5>
    <h5>Software Developer</h5>
    <br />
    <h3>This is my personal website I am building to hone my programming skills and build my knowledge base. Enjoy and give me any feedback on how I can further improve.</h3>
    <br /><br />
    <h4 class="fw-bold">About me</h4>
    <h5>As a dedicated and passionate Software Developer, I focus on creating innovative and efficient solutions to enhance the functionality and user experience of technology products.</h5>
    <h5>Over my fourteen-year tenure in various customer support and business development roles, I’ve honed my skills in decision-making, relationship building, and influence. These experiences have provided a strong foundation for my transition into software development, where I now apply my technical expertise to solve complex problems and deliver high-quality software.</h5>
    <br />
    <h4 class="fw-bold">Education</h4>
    <h5>Master of Applied Computing | Linoln University (New Zealand) | 2023 - 2025</h5>
    <br />
    <h5>Bachelor of Computer Science | University of Madras (India) | 2005 - 2008</h5>
    <br />
    <h4 class="fw-bold">Contact</h4>
    <i class="fa-solid fa-graduation-cap fa-2x text-dark me-5"></i>
    <i class="fa-regular fa-envelope fa-2x text-dark me-5"></i>
    <i class="fa-brands fa-linkedin fa-2x text-dark me-5"></i>
    <i class="fa-brands fa-github fa-2x text-dark"></i>

</div>
