@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<p>Here are some of the Projects I am building to help with expanding my programming concepts and building my knowledge base.</p>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="~/images/rummikub.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rummikub Scorecard</h5>
                    <p class="card-text">This scorecard is designed for upto 4 players who want to keep track of their Rummikub Scoring</p>
                    <a href="#" class="btn btn-primary">Open</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="~/images/placeholder.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Open</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="~/images/placeholder.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Open</a>
                </div>
            </div>
        </div>
    </div>
</div>