html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.custom-logo {
    height: 20px; /* Matches or is less than navbar height */
    width: auto;
    transform: scale(4.0); /* Visually enlarges logo */
    transform-origin: left center;
    position: relative;
    z-index: 1;
}

.navbar-nav .nav-link:hover {
    color: #ff6600 !important;
}

.navbar-nav .nav-link {
    transition: color 0.3s ease;
}

.btn-dark:hover {
    background-color: #ff6600 !important;
    border-color: #ff6600 !important;
}